@import '../../index.css';

.body-jukebox{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}


.left-jukebox{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
}

.right-jukebox{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container{
    width: 37vw;
    height: 60vh;
}

.text-container-title{
    width: 37vw;
    height: 25vh;
    overflow: hidden;
    margin-left: 8vh;
    
}

.text-container-description{
    width: 37vw;
    height: 35vh;
    overflow: hidden;
    margin-left: 6vh;
}

.text-container-title p{
    font-family:var(--font-family) ;
    font-weight: 650;
    font-size: 7vh;
    font-optical-sizing: auto;
    color: var(--color-black);
}

.text-container-description p{  
    margin-top: -1vh;
    
    font-family:var(--font-family) ;
    font-weight: 200;
    font-size: 4vh;
    font-optical-sizing: auto;
    color: var(--color-black);
}

.IMG-JUKEBOX{
    margin-top: 0.5vh;
    margin-left: -3vw;
}

@media screen and (max-width: 800px) {
    .IMG-JUKEBOX{
       margin-left: 7VW;
    }

    .IMG-JUKEBOX img{
        height: 90vh;
    }
  }

@media screen and (max-width: 600px){

    .body-jukebox{
        width: 100vw;
        height: 80vh;
        flex-direction: column;
        overflow: hidden;
    }

    .left-jukebox{
        width: 100vw;
        height: 40vh;
        display: flex;
    }

    .right-jukebox{
        width: 100vw;
        height: 35vh;
    }

    .text-container{
        width: 100vw;
        height: 35vh;
    }

    .text-container-title{
        margin-left: -0.001vw;
        width: 100vw;
        height: 15vh;
    }

    .text-container-title p{
        font-size: 4vh;
        margin-left: 8vw;
    }

    .text-container-description{
        margin-left: -0.001vw;
        width: 100vw;
        height: 18vh;
    }

    .text-container-description p{
        margin-top: 1vh;
        font-size: 2vh;
        margin-left: 8vw;
    }

    .IMG-JUKEBOX{
        height: auto;
        overflow: hidden;
    }

    .IMG-JUKEBOX img{
        margin-left: 6vw;
        width: 97vw;
        height: auto;
    }
}