

.mainMYV{
    width: 100vw;
    height: auto;
    background-color: var(--color-Page-Secondary);
}

.Mision{
    width: 80vw;
    height: 50vh;
    margin-left: 13vw;
    overflow: hidden;
}

.Vision{
    width: 80vw;
    height: 50vh;
    margin-left: 13vw;
    overflow: hidden;
}

.TitleMV{
    font-size: 7vh;
    font-weight: 650;
    font-family: var(--font-family);
    color: var(--blackPage);
}

.DescriptionMV{
    position: absolute;
    top: 212vh;

    font-size: 4vh;
    font-weight: 200;
    font-family: var(--font-family);
    color: var(--blackPage);

}

.DescriptionMVS{
    position: absolute;
    top: 263vh;
    color: var(--blackPage);
    font-size: 4vh;
    font-weight: 200;
    font-family: var(--font-family);

}

@media screen and (max-width: 800px) {
    .mainMYV{
        width: 101vw;
    }
  }

@media screen and (max-width: 600px){

    .mainMYV{
        height: auto;
    }

    .Mision{
        height: 50vh;
    }
    .Vision{
        height:58vh;
    }

    .DescriptionMV{
        margin-top: -8vh;
        font-size: 2.5vh;
    }

    .TitleMV{
        margin-top: 3vh;
        font-size: 3.7vh;
    }

    .DescriptionMVS{
        font-size: 2.5vh;
        margin-top: -9vh;
    }

    
}