:root {
  --blackPage: #2a282c;
  --color-gray: #778196;
  --color-gray-transparent: rgba(119, 129, 150, 0.7);
  --color-black: #2a282c;
  --color-lily: #B64CD4;
  --color-purple: #7631c4;
  --color-whitePage: #FDFDFE;
  --color-Page-Secondary:#f6f6f6;
  --marginRightLeft:282px;
  --interlineado:50;
  --interlineado-big:80;
  --text-decorator-principal:bold;
  --pading-button:15 40;
  --border-button:2px;
  --border-input:2px;
  --font-family: "Gabarito", sans-serif;
}

body {
  margin: 0;
  min-width: 70vw;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  overflow-x: hidden;
}


