

.Politicasbody{
    width: 100vw;
    height: auto;
}

.TextoPoli{
    width: 80vw;
    height: auto;
    margin-left: 13vw;
}

.TituloP{
    font-size: 7vh;
    font-weight: 700;
    font-family: var(--font-family)
}


.TextPP{
    font-size: 4vh;
    font-family: var(--font-family)
}

.SubtituloPP{
    font-size: 5vh;
    font-weight: 600;
    font-family: var(--font-family);
}

@media screen and (max-width: 600px){
    .Politicasbody{
        overflow: hidden;
    }

    .TituloP{
        font-size: 3vh;
    }

    .TextPP{
        margin-top: 6vh;
        font-size: 3vh;
    }
    .SubtituloPP{
        margin-top: 8vh;
        font-size: 3.5vh;
    }

}